@font-face {
    src: url("../fonts/ChelseaMarket-Regular.ttf");
    font-family:ChelseaMarket-Regular;
}

@font-face {
    src: url("../fonts/telegrafico.ttf");
    font-family:telegrafico;
}

@font-face {
    src: url("../fonts/Terminal Dosis-Book.ttf");
    font-family:Terminal Dosis-Book;
}

@font-face {
    src: url("../fonts/Terminal Dosis-Bold.ttf");
    font-family:Terminal Dosis-Bold;
}

body{
    margin: 0;
    background-color: white !important;
    background-image: none!important;
}

/*wrapper section****************/
.wrapper{
    height: auto;
    margin: 0 auto;
}
/*header**********************/
.wrapper header{
    height: auto;
}

/*logo_header*******************/
.wrapper header .logo_header{
    background-image: url("../images/header_bg.png");
    background-repeat: repeat-x;
    height: 80px;
    padding: 0 250px;
}
.wrapper header .logo_header .logo_header_2{
    height: auto;
    overflow: hidden;
    display: inline-block;
}

.wrapper header .logo_header .logo{
    width: 320px;
    height: 50px;
    overflow: hidden;
    padding-top: 10px;
    display: inline-block;
    float: left;
}
.wrapper header .logo_header .logo img{
    float: left;
    margin-right: 10px;
}
.wrapper header .logo_header .logo h1{
    float: left;
    font-family:ChelseaMarket-Regular;
    color: white;
    margin-top:5px;
    font-size: 29px;
}
.wrapper header .logo_header .logo h1 small{
    font-family:telegrafico;
    color: white;
    font-size: 14px;
}

.wrapper header .logo_header .top_menu{
    width: 515px;
    height: 50px;
    float: left;
}
.wrapper header .logo_header .top_menu ul{
    margin: 0;
    padding:0;
    margin-left: 95px;
}

.wrapper header .logo_header .top_menu ul li{
    list-style: none;
    float: left;
}
.wrapper header .logo_header .top_menu ul li a{
    font-family:telegrafico;
    color: white;
    font-size: 14px;
    margin-right: 10px;
    text-decoration: none;
    line-height: 76px;
}

.wrapper header .logo_header .top_menu .btt_top{
    background-image: url("../images/butt_top.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 32px;
    height:31px;
    border: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 1px 1px 3px #df5128;
    float: right;

}
/*menu************************/
.wrapper header .menu{
    height: 66px;
    background-image: url("../images/menu_bg.png");
    background-repeat: repeat-x;
    padding: 0 250px;
    display: inline-block;
    box-shadow: 2px 2px 20px #ece4cb;

}

/*--menu_2 started--****************/
.wrapper header .menu .menu_2 {
    height: auto;
    display: inline-block;
    margin: 0;
    width: 847px;
}

.wrapper header .menu .menu_2 ul li {
    list-style-type: none;
    z-index: 99999999;
}

.wrapper header .menu .menu_2 ul li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-family:Terminal Dosis-Book;
    line-height: 50px;
}

/** Navigation theme
================================================== */
.wrapper header .menu .menu_2 .booNavigation {
    position: relative;
}

.wrapper header .menu .menu_2 .booNavigation li.navItem {
    background-color: transparent;
    padding: 5px 18px;
    float: left;
    text-decoration: none;
    transition: all .3s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    border: none;
}

.wrapper header .menu .menu_2 .booNavigation li.navItem:hover {
    background-color: #f7edca;
    border-color: #f1e4b9;
    cursor: pointer;
}

.wrapper header .menu .menu_2 .booNavigation li.navItem > a {
    color: #7d7253;
}

.wrapper header .menu .menu_2 .booNavigation li.navItem .navContent {
    background-color: #f7edca;
    left: 92px;
    position: absolute;
    top: 50px;
    z-index: 99999;
    width: 165px;
}

.wrapper header .menu .menu_2 .booNavigation .navContent > li {
    color: #fff;
}

.wrapper header .menu .menu_2 .booNavigation .navContent ul li a {
    color: #777777;
    display:inline-block;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    width: 476%;
    padding: 0;
    margin: 0;
    line-height: 30px;
}

.wrapper header .menu .menu_2 .booNavigation .navContent ul li a:hover {
    color: #fff;
    background-position: center;
    border-radius: 20px;
    padding-left: 20px;
}

.booNavigation .navContent ul li a:hover{
    background-color: #f54922;
}

/** Navigation examples
================================================== */
.nav-example {
    clear: left;
}


/*connection started*************************/
.wrapper header .connection{
    height: 66px;
    background-color: #f9f9f9;
    padding: 0 250px;
    display:block;
    box-shadow: 2px 2px 20px #ececec;
}
.wrapper header .connection .left_connection{
    float: left;
}
.wrapper header .connection .left_connection p{
    font-size: 14px;
    font-family:Terminal Dosis-Book;
    color: #a7a49c;
    line-height: 60px;
}
.wrapper header .connection .right_connection{
    float: right;
    width: auto;
    padding: 19px 0;
}
.wrapper header .connection .right_connection .social{
    padding: 0;
    margin: 0;
    float: left;
}
.wrapper header .connection .right_connection .social li{
    float: left;
    margin-right: 10px;
}
.wrapper header .connection .right_connection .social li a{
    color:#a7a49c ;
}
.wrapper header .connection .right_connection .search{
    float: right;
    position: relative;
}
.wrapper header .connection .right_connection .search select{
    padding: 5px;
    width: 135px;
    border:none;
    border-left: 1px solid #dedede;
    border-top: 1px solid #dedede;
    color:#4c4c4c ;
    border-radius: 3px;
}
.wrapper header .connection .right_connection .search select:focus{
    outline: 0;
}
.wrapper header .connection .right_connection input{
    padding: 5px;
    width: 185px;
    border:none;
    border-left: 1px solid #dedede;
    border-top: 1px solid #dedede;
    color:#4c4c4c ;
    border-radius: 3px;
}
.wrapper header .connection .right_connection input:focus{
    outline: 0;
}
.wrapper header .connection .right_connection a .fa-search{
    position: absolute;
    color: #747272;
    top: 6px;
    right: 5px;
    font-size: 15px;
}


/*site section************************************************************************/
.wrapper .site{
    height: auto;
    margin: 0 auto;
    padding: 0 250px;
}
/*head_slider***************/
.wrapper .site .head_slider{
   margin-top: 20px;
    margin-bottom: 80px;
    height: 430px;
    overflow: hidden;
    background-color: #95d4d2;
    box-shadow: 1px 5px #8eccca;



}
#slider_container_1 {
    float: left;
    padding:0!important;
    width: 849px;
    position: relative!important;
    height: 420px;
}

#SliderName{
    width: 845px !important;
    height: 345px;
    margin: auto;
}

div#SliderName div div div{
    bottom: -55px!important;

}
#SliderName img{
    width: 845px !important;
    height: 355px;
    margin: auto;
}
.SliderNameNext{
    height: 400px!important;
}

.SliderNameDescription{
    font-family: Verdana;
    font-size: 10px;
    text-align: left;
    padding: 5px;
    width: auto;
    position: absolute;
    right: 0!important;
    padding-right: 20px;
    height: 193%;
}

.SliderNameDescription button{
    padding: 10px 20px;
    color: white;
    font-family:telegrafico;
    background-color: #8ec9c7;
    box-shadow: 1px 1px #7ab7b5;
    border: 1px solid #79c3c1;
    border-radius: 3px;
    cursor: pointer;
}
.SliderNameDescription button:hover{
    background-color: #f65931;
    box-shadow: 1px 1px #df4f2b;
    border: 1px solid #df4f2b;
}
.SliderNameDescription button:focus{
    background-color: #f65931;
    box-shadow: 1px 1px #df4f2b;
    border: 1px solid #df4f2b;
    outline: 0;
}
.SliderNameDescription strong{
    color: white;
    font-family:telegrafico;
    font-size: 16px;
    font-weight: normal;
    margin-right: 20px;
}


#SliderNameNavigation {
    margin:15px !important;
    padding-top: 15px;
    text-align: center;
    float: left;
    overflow: hidden;
    height: 40px;
}

#SliderNameNavigation a:link, #SliderNameNavigation a:active, #SliderNameNavigation a:visited, #SliderNameNavigation a:hover{
    background: url(../images/circ.png) no-repeat center center;
    font-size: 0px;
    line-height: 0px;
    padding: 12px;
    text-decoration: none;
}

#SliderNameNavigation a.active:link, #SliderNameNavigation a.active:active, #SliderNameNavigation a.active:visited, #SliderNameNavigation a.active:hover{
    background: url(../images/circ_active.png) no-repeat center center;
}


/*features**********************************************************/
.wrapper .site .features{
    height:330px ;
    overflow: hidden;
}
.wrapper .site .features .features_head{
    height:auto ;
    overflow: hidden;
    padding-bottom: 40px;

}
.wrapper .site .features .features_head h1{
    color: #747272;
    font-family:telegrafico;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    float:left ;
}
.wrapper .site .features .features_head .features_bg{
    background-image: url("../images/feature_head.png");
    background-repeat: repeat-x;
    height:10px;
    float: right;
    width: 750px;
    margin-top: 3px;
}
/*products*/
.wrapper .site .features .products{
    height: 270px; ;
    overflow: hidden;
}
.wrapper .site .features .products .product{
    height: 255px; ;
    width: 190px;
    background-color: #d9d9d9;
    border: 2px solid #bcbcbc;
    float: left;
    margin-left: 28px;
}
.wrapper .site .features .products .product:first-child{
    margin-left: 0;
    float: left;
}
.wrapper .site .features .products .product .top_pro{
   width: 170px;
    height: 158px;
    margin: 10px auto;
}
.wrapper .site .features .products .product .bottom_pro{
    height: 75px;
    padding: 5px;
}
.wrapper .site .features .products .product .bottom_pro h1{
    color: #494949;
    font-family:Terminal Dosis-Book;
    font-size: 16px;
    font-weight: normal;
}
.wrapper .site .features .products .product .bottom_pro .connect{
    height: auto;
    overflow: hidden;
    margin-top: 15px;
}
.wrapper .site .features .products .product .bottom_pro .connect button{
    background-color: #f65931;
    border-radius: 3px;
    padding: 5px 20px;
    color: white;
    font-family:Terminal Dosis-Book;
    font-size: 14px;
    text-align: center;
    float: left;
    cursor: pointer;
    border: 1px solid #c45d40;
}
.wrapper .site .features .products .product .bottom_pro .connect button:focus{
    outline: none;
}
.wrapper .site .features .products .product .bottom_pro .connect .spa_price{
    float: right;
    width: auto;
    height: auto;
}
.wrapper .site .features .products .product .bottom_pro .connect .price{
    float: left;
    border: 1px solid #777777;
    width: 15px;
    height: 25px;
    color: #636363;
    font-family:Terminal Dosis-Bold;
    background-color: #d2d2d2;
    text-align: center;
}
.wrapper .site .features .products .product .bottom_pro .connect .price:first-child{
    background-color: #535353;
    color: white;
    font-family:Terminal Dosis-Bold;

}


/*brands*********/
.wrapper .site .brands{
    height: auto ;
    overflow: hidden;
    margin-top: 50px;
}
.wrapper .site .brands .brands_head{
    height:auto ;
    overflow: hidden;
    padding-bottom: 40px;
}
.wrapper .site .brands .brands_head h1{
    color: #747272;
    font-family:telegrafico;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    float:left ;
}
.wrapper .site .brands .brands_head .features_bg{
    background-image: url("../images/feature_head.png");
    background-repeat: repeat-x;
    height:10px;
    float: right;
    width: 750px;
    margin-top: 3px;
}
.wrapper .site .brands .brand{
    height: 150px;
    overflow: hidden;
}
/**barand slider************************************************************************************/

/* Custom Elastislide Styling */

.wrapper .site .brands .brand .demo-1 .elastislide-horizontal {
    padding: 10px 37px;
    border-radius: 10px/90px;
    box-shadow:
            0 1px 3px rgba(0, 0, 0, 0.1),
            inset -2px 0 3px 2px rgba(255, 255, 255, 0.6),
            inset 2px 0 3px 2px rgba(255, 255, 255, 0.6),
            inset -10px 0 10px 1px rgba(155, 155, 155, 0.1),
            inset 10px 0 10px 1px rgba(155, 155, 155, 0.1);
}

.wrapper .site .brands .brand .elastislide-horizontal{
    padding: 20px 40px !important;
}
.wrapper .site .brands .brand .elastislide-horizontal ul li{
    max-width: 153px !important;
    max-height: 150px !important;
}

.wrapper .site .brands .brand .elastislide-horizontal ul {
    max-height: 120px !important;
}

.wrapper .site .brands .brand .demo-1 .elastislide-wrapper:before,
.wrapper .site .brands .brand .demo-1 .elastislide-wrapper:after{
    content: '';
    position: absolute;
    z-index: -2;
    bottom: 15px;
    left:  20px;
    width: 50%;
    height: 20%;
    border-radius: 10px/90px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.wrapper .site .brands .brand .demo-1 .elastislide-wrapper:after {
    right: 20px;
    left: auto;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}
/***brand slider end********************************************************************************************/

/*Latest****************************************/
.wrapper .site .Latest{
    height: auto ;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 100px;
}
.wrapper .site .Latest .Latest_head{
    height:auto ;
    overflow: hidden;
    padding-bottom: 10px;
}
.wrapper .site .Latest .Latest_head h1{
    color: #747272;
    font-family:telegrafico;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    float:left ;
}
.wrapper .site .Latest .Latest_head .features_bg{
    background-image: url("../images/feature_head.png");
    background-repeat: repeat-x;
    height:10px;
    float: right;
    width: 750px;
    margin-top: 3px;
}
.wrapper .site .Latest .Latest_pro{
    height: 400px;
    overflow: hidden;
}

/*slider latest*************/

h1, #wrapper > figure > figcaption {
    text-align: center;
}
#wrapper > figure > figcaption {
    margin: 1em;
}
.demo h1,
.demo #wrapper > figure > figcaption {
    color: #fff;
}
.mis-slider li figcaption {
    font-weight: 500;
    letter-spacing: .5px;
}
.main {
    width: 80%;
    margin: 2em auto;
    /*display: block;*/
}
div.main pre {
    font-size: 1.1em;
    overflow: auto;
    max-height: 500px;
    background-color: #fff;
    padding: 0 1em 1em;
}
@media screen and (min-width: 1200px) {
    .main {
        width: 50%;
    }
}

.mis-slider li img{
    border-radius: 0!important;
}
.mis-stage{
    height: 405px!important;
}
.mis-nav-list{
    width: auto!important;
}

.mis-nav-list li a{
    width: 30px!important;
    height: 30px!important;
    background-color: #d0d0d0!important;
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid #eee;
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 0 1px #B9B9B9;
    box-shadow: inset 0 0 0 1px #B9B9B9;
    margin: 0 3px;
}
.mis-nav-list li.mis-current a, .mis-nav-list li a:hover{
    background: #f85831!important;
    opacity: 1!important;
    -webkit-box-shadow: inset 0 0 0 1px #d14928;
    box-shadow: inset 0 0 0 1px #d14928;
}
.mis-slider{
    background-color: #f5ecce!important;
}

.mis-next{
    padding-top: 173px!important;
}
.mis-prev{
    padding-top: 173px!important;
}
.mis-nav-buttons a:hover{
    color:  #f85831!important;
}

.wrapper .site .Latest .Latest_pro .product{
    height: 305px; ;
    width: 250px;
    background-color: #d9d9d9;
    border: 2px solid #bcbcbc;
    float: left;
    margin-left: 28px;
}
.wrapper .site .Latest .Latest_pro  .product:first-child{
    margin-left: 0;
    float: left;
}
.wrapper .site .Latest .Latest_pro  .product .top_pro{
    width: 220px;
    height: 200px;
    margin: 5px auto;
    position: relative;
}

.wrapper .site .Latest .Latest_pro  .product .top_pro_black{
    width: 216px;
    height: 196px;
    margin: 5px auto;
    background-image: url("../images/latest_bg.png");
    background-repeat: repeat-x;
    display: none;
    position: absolute;
    z-index: 444;
    top: 44px;
    left: 57px;
    text-align: center;
}

.wrapper .site .Latest .Latest_pro  .product .top_pro_black .but_black{
    width: 216px;
    height: 196px;
}

.wrapper .site .Latest .Latest_pro  .product .top_pro_black .but_black button{
    background-color: #dedede;
    color: #494949;
    font-family:Terminal Dosis-Bold;
    font-size: 14px;
    text-align: center;
    padding: 10px 15px;
    border: 1px solid #5b5b5b;
    cursor: pointer;
    border-radius: 5px;
    width: 135px;
    margin-top: 45px;
    opacity: 1!important;

}
.wrapper .site .Latest .Latest_pro  .product .top_pro_black .but_black button:hover{
    background-color: #f1512a;
    color: white;
}
.wrapper .site .Latest .Latest_pro  .product .top_pro_black .but_black button:focus{
    background-color: #f1512a;
    color: white;
    outline: none;
}

.wrapper .site .Latest .Latest_pro  .product .bottom_pro{
    height: 75px;
    padding: 10px;
}
.wrapper .site .Latest .Latest_pro  .product .bottom_pro h1{
    color: #494949;
    font-family:Terminal Dosis-Book;
    font-size: 16px;
    font-weight: 600;
}
.wrapper .site .Latest .Latest_pro  .product .bottom_pro .connect{
    height: auto;
    overflow: hidden;
    margin-top: 15px;
}
.wrapper .site .Latest .Latest_pro .product .bottom_pro .connect button{
    background-color: #f65931;
    border-radius: 3px;
    padding: 8px 20px;
    color: white;
    font-family:Terminal Dosis-Book;
    font-size: 16px;
    text-align: center;
    float: left;
    cursor: pointer;
    border: 1px solid #c45d40;
}
.wrapper .site .Latest .Latest_pro  .product .bottom_pro .connect button:focus{
    outline: none;
}
.wrapper .site .Latest .Latest_pro  .product .bottom_pro .connect .spa_price{
    float: right;
    width: auto;
    height: auto;
}
.wrapper .site .Latest .Latest_pro .product .bottom_pro .connect .price{
    float: left;
    border: 1px solid #777777;
    width: 25px;
    height: 35px;
    color: #636363;
    font-family:Terminal Dosis-Bold;
    background-color: #d2d2d2;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
}
.wrapper .site .Latest .Latest_pro .product .bottom_pro .connect .price:first-child{
    background-color: #535353;
    color: white;
    font-family:Terminal Dosis-Bold;

}
/*******slider latest ended************************************************************/






















/*footer started***************************************************************/
.wrapper footer{
    height: auto;
}

.wrapper footer .sub_footer{
    height: 138px;
    background-image: url("../images/texture.jpg");
    background-repeat: repeat-x;
    box-shadow: 1px 1px 10px #d4ccb0;
    padding: 0 250px;
}
.wrapper footer .sub_footer .Suspendisse{
    float: left;
    width: 265px;
    height: 100px;
    padding: 10px 0;
    margin-right: 24px;
}

.wrapper footer .sub_footer .Suspendisse:last-child{
    margin-right:0;
    float: right;
}

.wrapper footer .sub_footer .Suspendisse .left{
    float: left;
    display: inline-block;
    width: auto;
    height: 138px;
}
.wrapper footer .sub_footer .Suspendisse .left i{
    color: #9f8f68;
}
.wrapper footer .sub_footer .Suspendisse .right{
    float: right;
    width: 230px;
    height: 138px;
    padding-top: 5px;
}
.wrapper footer .sub_footer .Suspendisse .right h3{
    color: #747272;
    font-family:telegrafico;
    font-size: 18px;
}
.wrapper footer .sub_footer .Suspendisse .right p{
    font-family:Terminal Dosis-Book;
    color: #7d7253;
    font-size: 14px;
    margin-top: 10px;
    text-align: justify;
}

/*footer_bootom*/
.wrapper footer .footer_center{
    background-image: url("../images/bg_footer.jpg");
    background-repeat: repeat-x;
    height: 200px;
    box-shadow: 5px 5px  #4d4b4b;
    padding: 20px 250px;
}

.wrapper footer .footer_center .add{
    width: 150px;
    height:auto;
    float: left;
    margin-right: 20px;
}
.wrapper footer .footer_center .add:last-child{
    float: right;
    margin-right:0;
}

.wrapper footer .footer_center .add h2{
    font-size: 16px;
    color: white;
    font-family:telegrafico;
    font-weight: normal;
}
.wrapper footer .footer_center .add p{
    color: #c9c9c9;
    font-size: 14px;
    font-family:Terminal Dosis-Book;
    margin-top:10px;
    line-height: 20px;
}
.wrapper footer .footer_center .add ul{
    padding: 0;
    margin: 0;
    margin-top:10px;
}
.wrapper footer .footer_center .add ul li{
    list-style: none;
    line-height:25px;
}
.wrapper footer .footer_center .add ul li a{
    color: #c9c9c9;
    font-size: 14px;
    font-family:Terminal Dosis-Book;
}
.wrapper footer .footer_bootom{
    background-color: #4c4c4c;
    height: 65px;
    padding: 0 250px;
}
.wrapper footer .footer_bootom .left{
    float: left;
    color: #c9c9c9;
    font-size: 14px;
    font-family:Terminal Dosis-Book;
    margin-top: 25px;
}
.wrapper footer .footer_bootom .right{
    float: right;
    color: #c9c9c9;
    font-size: 14px;
    font-family:Terminal Dosis-Book;
    margin-top: 25px;
}

.clear{
    clear: both;
}


