body{
    margin: 0;
}

/*wrapper section****************/
.wrapper{
    height: auto;
    border: 1px solid darkorange ;
    margin: 0 auto;
}
/*header**********************/
.wrapper header{
    width: 100%;
    height: auto;
    border: 1px solid green;
    overflow: hidden;
}

/*logo_header*******************/
.wrapper header .logo_header{
    background-image: url("../images/header_bg.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 80px;
}
/*menu************************/
.wrapper header .menu{
    width: 100%;
    height: 66px;
    background-image: url("../images/menu_bg.png");
    background-repeat: repeat-x;


}





/*site section**
.wrapper .site{
    width: 100%;
    height: auto;
    border: 1px solid #2072ff;
    padding:10px;
    margin: 0 auto;
}
**************/